/* roboto-flex-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-flex-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  font-family: "Roboto Flex", sans-serif;
  font-size: 18px;
  --white: rgb(255, 255, 255);
  --black: rgb(18, 18, 18);
  --header-color: rgb(100, 208, 58);
  --sidebar-color: rgb(33, 33, 33);
}

body {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  outline: 2px solid var(--black);
  background-color: var(--white);
  color: var(--sidebar-color);
  position: relative;
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "side head "
    "side main ";
}

a,
a:visited {
  color: var(--header-color);
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

#body-header {
  grid-area: head;
  background-color: var(--header-color);
  padding: 1rem;
}

#body-header hgroup {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  font-weight: bold;
}

#profession::after {
  content: " 💻";
}

#main-content {
  grid-area: main;
  padding: 1rem;
}

#sidebar {
  grid-area: side;
  background-color: var(--sidebar-color);
  color: var(--white);
  padding: 1rem;
  position: relative;
}

#contact li {
  margin: 0.5rem 0;
}

#skillset ul {
  padding-left: 0;
}

#skillset li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
#skillset img {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

@media print {
  body {
    outline: none;
  }
}
